.wrapper {
    --border-radius-search: 92px;
    --width-button-search: 52px;
    --height-search: 46px;
    --top-spacer-search: 9px;
    --padding-left-search: 16px;
    --background-search: rgba(22, 24, 35, 0.06);

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px var(--default-layout-horzional-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 12px;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

//messeage-notification
.action-btn {
    position: relative;
}
.messeage-notification {
    position: absolute;
    top: -2px;
    left: 30px;
    min-width: 20px;
    height: 20px;
    font-size: 1.4rem;
    font-family: 'TikTokFont', sans-serif;
    background-color: var(--primary);
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
